// colors

$primary-text-color: #63666a;
$primary-link-color: #0033a0;
$background-color: #fff;
$lightblue : #b3daff;


// fonts 
$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: 'Open Sans', sans-serif;

