/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.body-wrapper {
    width: 100%;
}

.output-wrapper {
    float: left;
    width: calc(45% - 3em);
    margin: 8rem 0 4rem;
}

.form-wrapper {
    float: right;
    width: calc(55% - 3em);
    max-width: 800px;
    background-color: #00b3ee;
    color: #fff;
    padding: 0 3em 3em;
}

.title {
    font-weight: 900;
    font-size: 3.3em;
    border-bottom: 4px dashed #fff;
}

.version {
    font-size: 0.5em;
}

.nutrition-form label {
    display: block;
    /*margin: 0px 0px 15px;*/
    padding: 15px 0 7px;
    position: relative;
}
.nutrition-form label>span {
    float: left;
	width: 55%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.nutrition-form input[type="text"], .nutrition-form textarea, .nutrition-form select {
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
	line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 30%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input[type="button"],
.button {
    color: #03a6dc;
    background-color: #fff;
    width: 130px;
    height: 40px;
    vertical-align: middle;
    border: 1px solid #fff;
    transition: all 0.2s ease-in-out 0s;
    margin-left: 30px;
    margin-right: 30px;
}

.button.blue {
    color: #fff;
    background-color: #03a6dc;
    border: 2px solid #03a6dc;
}

.col-left,
.col-right {
    width: 50%;
    float: left;
}

.buttons {
    margin: 3rem 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.button:hover {
    box-shadow: inset 0 0 0 3px #03a6dc;
}

.button.blue:hover {
    box-shadow: inset 0 0 0 3px #fff;
}


/* ==========================================================================
   Nutrition Label
   ========================================================================== */
.nutrition_label {
    border: 1px solid #000;
    padding: 5px;
    width: 300px;
    margin: auto;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 1em;
}

.label__heading {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-size: 35px; 
}

.serving-size,
.servings-container {
    
}

.divider {
    background-color: #000;
    width: 100%;
}

.divider.thick {
    height: 12px;
}

.divider.medium {
    height: 6px;
}

.underline {
    border-bottom: 1px solid #000;
}

.amount-per-serving,
.daily-percentage-value{
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-size: 0.75em;
}

.float-left {
    float: left;
}

.percent-value,
.content-title {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

.float-right {
    float: right;
}

.daily-percentage-value {
    text-align: right;
}

.sat-fat,
.trans-fat,
.fiber,
.sugars {
    padding-left: 10px;
}

.warning_message {
    color: #fff;
    font-size: 0.8rem;
    position: absolute;
    background-color: red;
    border-radius: 5px;
    font-weight: normal !important;
    bottom: 0;
    right: 30px;
}

.as-image {
    text-decoration: none;
    padding: 0.5em 1em;
}










