/*
//////////////////////////////////////////////////////////////////////////////
//
// Base Rules 
//
//////////////////////////////////////////////////////////////////////////////
*/

html {
    background-color: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.45;
    color: #63666a;
    /*background-color: #e8e8e9;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

a {
    color: #0033a0;
    text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
    /*opacity: 0.75;*/
}

ul {
	list-style-type: none;
    padding: 0;
}

img {
    max-width: 100%;
}

/*
//////////////////////////////////////////////////////////////////////////////
//
// General Rules
//
//////////////////////////////////////////////////////////////////////////////
*/

.l-fixed {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

.l-fixed:before,
.l-fixed:after {
    display: table;
    content: '';
    clear: both;
}  

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
    clear: both;
}  

/*
//////////////////////////////////////////////////////////////////////////////
//
// Header / Nav
//
//////////////////////////////////////////////////////////////////////////////
*/

header {
    padding-top: 2rem;
    background: #fff url('../images/top-border.png') top left repeat-x;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    
}

.logo {
    float: left;
    width: 25%;
}

nav {
    float: left;
    width: calc(75% - 1rem);
    text-align: right;
    margin-top: 1.5rem;
}

.menu-item {
    display: inline-block;
    font-size: 1.2rem;
    padding-left: 3rem;
}

.menu-item > a {
    color: #63666a;
}

.menu-item > a:hover {
    border-bottom: 5px solid #eee;
    opacity: 1;
}

.menu-item > a.active {
    border-bottom: 5px solid #0033a0;
}

/*
//////////////////////////////////////////////////////////////////////////////
//
// Body
//
//////////////////////////////////////////////////////////////////////////////
*/

.body-wrapper {
    margin-top: 3rem;
    padding-bottom: 5rem;
}

/* Sidebar */

.sidebar {
    float: right;
    width: 23%;
}

.sidebar a:hover {
    opacity: 0.7;
}

.sidebar__search-box {
    margin-bottom: 3rem;
}

.search-input {
    float: left;
    border: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 17px;
    width: 210px;
    padding: 10px;
}

.search-button {
    background: rgba(0,58,172,1);
    background: -moz-linear-gradient(top, rgba(0,58,172,1) 0%, rgba(0,56,168,1) 16%, rgba(0,44,147,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,58,172,1)), color-stop(16%, rgba(0,56,168,1)), color-stop(100%, rgba(0,44,147,1)));
    background: -webkit-linear-gradient(top, rgba(0,58,172,1) 0%, rgba(0,56,168,1) 16%, rgba(0,44,147,1) 100%);
    background: -o-linear-gradient(top, rgba(0,58,172,1) 0%, rgba(0,56,168,1) 16%, rgba(0,44,147,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,58,172,1) 0%, rgba(0,56,168,1) 16%, rgba(0,44,147,1) 100%);
    background: linear-gradient(to bottom, rgba(0,58,172,1) 0%, rgba(0,56,168,1) 16%, rgba(0,44,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003aac', endColorstr='#002c93', GradientType=0 );
    padding: 9px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sidebar__title {
    text-transform: uppercase;
    margin: 0;
}

.sidebar-list {
    padding: 0.5rem 0;
}

.sidebar-list:not(:last-child) {
    border-bottom: 1px solid #eee;
}

/* END Sidebar */

.main-content {
    position: relative;
    float: left;
    width: calc(77% - 3rem);
}

.main-post-link {
    display: block;
}

.main-post {
    position: relative;
    overflow: hidden;
}

.main-post__image {
    position: relative;
    overflow: hidden;
    max-height: 450px;
}

.main-post__image > img {
    display: block;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-time-function: ease-in;
}

.main-post-link:hover .main-post__image > img {
    transform: translateY(-80px);
}

.main-post__text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(8,41,72,0.5);
    opacity: 1;
    color: #fff;
    padding-top: 3rem;
}

.main-post__text__title {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding-bottom: 0.3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.main-post__text__title:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #fff;
    height: 4px;
    transition-property: left,right;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

.main-post-link:hover .main-post__text__title:before {
    right: 0;
    left: 0;
}


.read-more-box {
    border: 2px solid #fff;
    padding: 1rem 2rem;
    margin-top: 2rem;
    color: #fff;
    display: inline-block;
    transition-property: background;
    transition-duration: 0.5s;
    transition-time-function: ease;
    transition-delay: 0.2s;
}

.main-post-link:hover .read-more-box {
    background-color: rgba(8,41,72,0.8);
}

.post-container {
    overflow: hidden;
}

.post-link {
    display: block;
    position: relative;
}

.post-content {
    float: left;
    width: calc(50% - 0.8rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post-content:nth-child(2n) {
    margin-left: 1.5rem;
}

.post-content__image {
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.post-content__image img {
    border-radius: 7px;
    position: relative;
    width: 100%;
    display: block;
}

.read-more {
    position: absolute;
    /*top: 0;*/
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(8,41,72,0.7);
    /*padding-top: 25%;
    opacity: 0;*/
    color: #fff;
    border-radius: 7px;
    height: 0;
    transition-property: height;
    transition-duration: 0.35s;
    transition-time-function: ease-in-out;
}

.read-more span {
    border: 2px solid #fff;
    display: inline-block;
    padding: 1rem 2rem; 
    margin-top: 25%;
    transition-property: background;
    transition-duration: 0.5s;
    transition-time-function: ease;
    transition-delay: 0.15s;
}

.post-link:hover .read-more {
    /*opacity: 1;*/
    height: 100%;
}

.post-link:hover .read-more span {
    background-color: rgba(8,41,72,0.8);
}

.post-content__text {
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-time-function: ease;
}

.text__title {
    margin: 0.5rem 0 0;
}

.text__subtitle {
    font-size: 0.9rem;
    margin: 0;
}

.post-link:hover .post-content__text {
    opacity: 0.7;
}

/*
//////////////////////////////////////////////////////////////////////////////
//
// Subpage
//
//////////////////////////////////////////////////////////////////////////////
*/

.single-post {
    width: 90%;
}

.single-post__title {
    margin: 0.3rem 0;
}


.single-post__tag,
.single-post__detail {
    display: block;
    text-transform: uppercase;
}

.single-post__detail {
    margin-bottom: 1.5rem;
}

/*
//////////////////////////////////////////////////////////////////////////////
//
// Footer
//
//////////////////////////////////////////////////////////////////////////////
*/

footer {
    padding: 1rem 0;
}

footer a:hover {
    text-decoration: underline;
}

footer.level-1 {
    overflow: hidden;
    color: #fff;
    background: #082948 url('../images/BottomFooterBG.jpg') top center no-repeat;
}

footer.level-1 a {
    color: #b3daff;
}

.footer-col {
    float: left;
    text-align: left;
}

.level-1 .footer-col.col-1,
.level-1 .footer-col.col-4 {
    width: calc(30% - 1rem);
}

.level-1 .footer-col.col-2,
.level-1 .footer-col.col-3 {
    width: 13%;
    margin-left: 5%;
    margin-right: 3%;
}

.level-2 .footer-col.col-1,
.level-2 .footer-col.col-3 {
    width: 25%;
}

.level-2 .footer-col.col-2 {
    width: calc(50% - 1rem);
    text-align: center;
}

.scoop:after {
    content: url(../images/TheScoopIcon.png);
    padding-left: 10px;
}

.mortgage:after {
    content: url(../images/MortgageICon.png);
    padding-left: 10px;
}

.ncua span,
.ncua img {
    display: inline-block;
    vertical-align: middle;
}

.footer-col h3,
.footer-col p{
    margin: 0;
}

footer.level-2 {
    text-align: center;
    font-size: 0.85rem;  
    background-color: #e8e8e9;
}

footer.level-2 a {
    color: #63666a;
}

.footer-lev2-menu.one{
    margin-bottom: 0;
}

.footer-lev2-menu.two {
    margin-top: 0;
}

.footer-lev2-menu >li {
    display: inline-block;
}

.footer-lev2-menu > li:not(:last-child):after {
    content: "|";
    padding-left: 5px;
    padding-right: 5px;
}

.social-media a {
    color: #7f7f7f !important;
    font-size: 2rem;
    transition-property: color;
    transition-duration: 0.3s;
    transition-time-function: ease;
}

.social-media a:hover {
    color: #63666a !important;
}

.social-media > li {
    display: inline-block;
    margin-right: 0.5rem;
}

